body {
    margin: 0;
    font-family: Arial;
    overflow: hidden;
}

.slider-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #000;
}

.slider-container {
    width: 90%;
    overflow: hidden;
}

.slider-track {
    display: flex;
    gap: 20px;
}

.slider-track img {
    width: calc((100% - 60px)/4);
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}